<!DOCTYPE html>
<html lang="">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Добро">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <script src="https://api-maps.yandex.ru/2.1/?lang=en_US&amp;apikey=9f80e93b-bb86-451e-86b6-100e7f75d40b&mode=release&coordorder=latlong" type="text/javascript"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
