<script setup>

import Header from "@/components/HeaderBlock.vue"
import Footer from "@/components/FooterBlock.vue"

</script>

<template>
  <div class="page-wrapper">
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </div>
</template>

<style scoped>

</style>
