<script setup>
import { defineProps } from 'vue'

const props = defineProps({
  content: {
    type: Object
  },
  button: {
    type: Boolean,
    default: false
  }
})
</script>

<template>
  <section class="section common-section">
    <div class="container">
      <div class="section-head">
        <span class="h2 text--uppercase text--colored" v-html="props.content.title"></span>
      </div>
      <div v-html="props.content.html"></div>
      <div class="btn-container" v-if="props.content.link_title">
        <a v-if="props.content.link_url" :href="props.content.link_url" class="btn">{{ props.content.link_title }}</a>
      </div>
    </div>
  </section>
</template>

<style scoped>

</style>
