<script setup>
import {useRouter} from "vue-router";

const router = useRouter()
const goBack = () => {
    router.go(-1)
  }
</script>

<template>
  <div @click="goBack" class="back-btn">&larr; Назад</div>
</template>

<style scoped>

</style>
