@import url("jquery.datetimepicker.css");

/* ===== IMPORTED STYLE ===== */
@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/* ===== IMPORTED STYLE END ===== */

/* ===== RESET STYLE ===== */
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin:0; padding:0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, cite, code, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, main, menu, nav, section, audio, video  {
	font: inherit; border: 0 currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;}
article, aside, figcaption, figure, footer, header, menu, nav, section, body, main, section {display: block;}
sub, sup {font-size:75%; line-height:0; position:relative;} sup {top: -0.5em;} sub {bottom: -0.25em;}
ol[class], ul[class], ol li[class], ul li[class] {list-style:none;}
blockquote {quotes: none; } blockquote::before, blockquote::after {content:none;}
table {border-collapse:collapse; border-spacing:0;}
a {text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline:none!important;}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {text-decoration: none;outline: none;}
body {-webkit-text-size-adjust:none;-webkit-overflow-scrolling: touch;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;	}
input, button, select {border:none;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input::-ms-clear {display:none;}
img {display:block; max-width:100%;}
/* ===== RESET STYLE END ===== */

/* ===== Theme default ===== */
:root {
	--black: #222;
	--white: #fff;
	--main-color: #06681B;
	--light-green: #95C83F;
	--border-color: rgba(6, 104, 27, 0.10);
	--main-font:'Neo Sans Pro';
}
html {
	font-size:10px;
	height:100%;
}
body {
    background: #fff;
    font-weight: 300;
	font-family: var(--main-font);
	font-size: 1.6rem;
    letter-spacing: 0.1px;
    line-height: 1.5;
    overflow-x: hidden;
	color: #222222;
    height:100%;
}
.page-wrapper {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:100%;
}

svg {width:100%;height:100%;display:block;}

input, textarea {width:100%;border:1px solid transparent;outline:none;resize:none;display:block;}
input:-webkit-autofill {transition: all 5000s ease-in-out 0s;}

a {position:relative;color:inherit;transition:0.25s;}
a:hover {transition:0.25s;}

b, strong {font-weight:bold;}

p, .text {font-size: 1.6rem;}
p:not(:last-child) {margin-bottom: 0.5em;}

ul:not([class]) li,
ol:not([class]) li {
	margin-bottom: 1em;
}
ul:not([class]),
ol:not([class]) {
	padding-left: 20px;
	margin-bottom: 20px;
}
p a:hover, ul:not([class]) li a:hover, ol:not([class]) li a:hover {
	text-decoration: none;
}
p a, ul:not([class]) li a, ol:not([class]) li a {
	color: red;
	text-decoration: underline;
}
table {
	width: 100%;
	margin:3rem 0;
}
table tr {
	border: 1px solid #ddd;
}
table th, table td {
	padding: 1rem;
	text-align: center;
	border-right: 1px solid #ccc;
}
table th {
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.12);
	font-weight: bold;
}

/* Flexbox */
.flex {display: flex;}
.inline-flex {display: inline-flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.align-center {align-items: center}
.align-end {align-items: flex-end;}
.align-start {align-items: flex-start;}
.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.justify-start {justify-content: flex-start;}
.justify-between {justify-content: space-between;}
/* // Flexbox */

/* CSS Grid */
.grid {display:grid;}
.col-2 {grid-template-columns: repeat(2, 1fr);}
.col-3 {grid-template-columns: repeat(3, 1fr);}
.col-4 {grid-template-columns: repeat(4, 1fr);}
.col-5 {grid-template-columns: repeat(5, 1fr);}
.col-6 {grid-template-columns: repeat(6, 1fr);}
.grid-col-1 {grid-column: span 1;}
.grid-row-1 {grid-row: span 1;}
.grid-col-2 {grid-column: span 2;}
.grid-row-2 {grid-row: span 2;}
.grid-col-3 {grid-column: span 3;}
.grid-row-3 {grid-row: span 3;}
.grid-col-4 {grid-column: span 4;}
.grid-row-4 {grid-row: span 4;}
.grid-col-5 {grid-column: span 5;}
.grid-row-5 {grid-row: span 5;}

.gap-1 {gap:1rem;}
.gap-2 {gap:2rem;}
.gap-3 {gap:3rem;}
.gap-4 {gap:4rem;}
.gap-5 {gap:5rem;}
/* // CSS Grid */

.svg-library {display:none;}

.container {
	width:100%;
	max-width:1156px;
	margin:0 auto;
	padding:0 20px;
	position:relative;
}

.red {border:1px solid red;}
.blue {border:1px solid blue;}
.green {border:1px solid green;}

.mobile-btn {display:none;}

.noscroll {overflow: hidden;}

.mobile-menu__content {display:none;}

.text--uppercase {text-transform:uppercase;}
.text--center {text-align:center;}
.text--left {text-align:left;}
.text--right {text-align:right;}
.text--black {color:var(--black);}
.text--white {color:var(--white);}
.text--colored {color:var(--main-color);}
.text--bold {font-weight: bold;}
.text--error{
	color: red !important;
	padding: .2em .5em;
	font-weight: 500;
	background-color: #fff;
	border-radius: 50px;
}

.position-relative {position: relative;}
.position-absolute {position: absolute;}

.bg--main-color {background: var(--main-color);}

.sm-show {display:none;}

.section {padding:max(2.3vw, 20px) 0;}
.section-title {margin-bottom:0.8em;}
.section-head {margin-bottom:3rem;}

.w-5 {width:5%;}
.w-10 {width:10%;}
.w-15 {width:15%;}
.w-20 {width:20%;}
.w-25 {width:25%;}
.w-30 {width:30%;}
.w-33 {width:33.33%;}
.w-35 {width:35%;}
.w-40 {width:40%;}
.w-45 {width:45%;}
.w-50 {width:50%;}
.w-55 {width:55%;}
.w-60 {width:60%;}
.w-65 {width:65%;}
.w-70 {width:70%;}
.w-75 {width:75%;}
.w-80 {width:80%;}
.w-85 {width:85%;}
.w-90 {width:90%;}
.w-95 {width:95%;}
.w-100 {width:100%;}

.pt-0 {padding-top:0;}
.pb-0 {padding-bottom:0;}

.mt-3 {margin-top:3rem;}

.scroll-bar::-webkit-scrollbar-button {
	background-repeat:no-repeat;
	height:0;
}
.scroll-bar::-webkit-scrollbar-track {
	background-color:#f3f3f3;
	border-radius:50px;
}
.scroll-bar::-webkit-scrollbar-thumb {
	-webkit-border-radius: 50px;
	border-radius: 5px;
	background-color: #95C83F;
}
.scroll-bar::-webkit-resizer{
	background-repeat:no-repeat;
	height:0
}
.scroll-bar::-webkit-scrollbar{
	width: 5px;
}

/* Buttons */
.btn {
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: normal;
	display:inline-flex;
	padding:0.7em 3em;
	background: var(--light-green);
	position:relative;
	text-align:center;
	transition: all 0.25s;
	justify-content: center;
	align-items: center;
	border:1px solid var(--light-green);
	cursor:pointer;
	color:#fff;
	border-radius: 50px;
	width: 30rem;
}
.btn:hover {
	background: transparent;
	transition: all 0.25s;
	color:var(--light-green);
}

.btn--white {
	background: #fff;
	color:var(--main-color);
}

/* Icons start */
.icon {display:block;}

.location {
	width:25px;
	position: relative;
	transition: all .3s;
}
.location__dropdown{
	position: absolute;
	top: 100%;
	right: 0;
	width: 280px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(43,48,51,0.3);
	z-index: 10;
}
.location img {
	width:100%;
	cursor: pointer;
	transition: all .3s;
}
.location img:hover {
	opacity: 0.5;
}
.location__dropdown__title {
	border-bottom: 1px solid rgba(51,51,51,0.15);
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 500;
}
.location__dropdown__content{
	padding: 1rem;
}
.location__dropdown__item{
	cursor: pointer;
}
.location__dropdown__item:hover {
	opacity: .7;
}
.location__dropdown__item:not(:last-child) {
	margin-bottom: 1rem;
}
.star-icon {
	width:15px;
	height:15px;
	color:#FFA800;
	margin-right:5px;
}
.star-icon.unnoted {
	color:silver;
}
.contact-icon {
	width: 16px;
	height: 16px;
	flex: none;
	margin-right:1rem;
}
.contact-icon img {
	width: 100%;
	max-width: none;
}
.search-icon {
	width:12px;
	height:12px;
	color:rgba(255,255,255,0.4);
	transition: all 0.25s;
}

/* Icons end */

/* Titles */
.h1, h1 {
	display:block;
	line-height: 1.2;
	font-size: 4.8rem;
	font-weight: 700;
}
.h2, h2 {
	display:block;
	line-height: 1.2;
	font-size: 3.2rem;
	font-weight: 700;
}
.h3, h3 {
	display:block;
	line-height: 1.3;
}
.h4, h4 {
	display:block;
	line-height: 1.3;
	font-size: 1.6rem;
	font-weight: normal;
}
.h5, h5 {
	display:block;
}
.h6, h6 {
	display:block;
}

@media (max-width:768px) {
	.h1, h1 {
		width: 100%;
		font-size: 4rem;
	}
}

@media (max-width:767px) {
	.h1, h1 {
		font-size: 2.4rem;
	}
	.h2, h2 {
		font-size: 2.4rem;
	}

}

/* Custom default style */
.flex-wrapper {margin: 0 -10px;}
.flex-wrapper .item {padding:0 10px;}
.f-col-2 .item {flex:0 0 50%;max-width:50%;}
.f-col-3 .item {flex:0 0 33.33%;max-width:33.33%;}
.f-col-4 .item {flex:0 0 25%;max-width:25%;}
.f-col-5 .item {flex:0 0 20%;max-width:20%;}

/* Marker list */
.common-section li,
.marker--list li {
	display: flex;
	align-items: flex-start;
}
.common-section ul {
	padding-left: 0;
}
.common-section li::before,
.marker--list li::before {
	content:'';
	display: block;
	min-width: 0.7rem;
	height:0.7rem;
	background: var(--light-green);
	border-radius: 50%;
	margin:0.8rem 1rem 0 0;
}

/* CSS Counter */
.counter {
	counter-reset: list;
}
.counter-item::before {
	counter-increment: list;
    content: "0" counter(list);
}
.counter-item:nth-child(n+10)::before {
    content: counter(list);
}

/* Slick Slider - Default Style */
.slick-slider {
	position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
}
.slick-list.dragging {
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
	display: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Slick Slider - Arrows */
.prev-slide,
.next-slide {
	flex: none;
	width: 4rem;
	height: 4rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.next-slide {
	margin-left:1.5rem;
}
.prev-slide:hover svg, .next-slide:hover svg {
	color:var(--light-green);
	transition: all .3s;
}
.prev-slide svg, .next-slide svg {
	color:var(--main-color);
	width: 4rem;
	height: 4rem;
	transition: all .3s;
}
.prev-slide.swiper-button-disabled,
.next-slide.swiper-button-disabled {
	cursor: default;
}
.prev-slide.swiper-button-disabled svg,
.next-slide.swiper-button-disabled svg {
	color:var(--light-green);
}
/* Slick Slider - Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	border: 0;
	background: #413680;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li.slick-active button{
	background: green;
}

/* Select */
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
  }
.select {
	font-family: var(--main-font);
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 4.4rem;
	border-radius: 30px;
	font-size: 1.6rem;
	line-height: 1.3;
	width: 28rem;
}
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	padding: 1em;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border-radius:30px;
	border: 1px solid var(--main-color);
    font-size: 14px;
	display: flex;
	align-items: center;
	color:var(--main-color);
}
.select-styled:after {
	content: "";
	width: 6px;
	height: 6px;
	border-right: 1px solid #828282;
	border-bottom: 1px solid #828282;
	position: absolute;
	top: 50%;
	right: 15px;
	transform:translateY(-50%) rotate(45deg);
}
.select-styled:active:after, .select-styled.active:after {
	transform:translateY(-3px) rotate(225deg);
}
.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	border:1px solid #efefef;
}
.select-options li {
	margin: 0;
	padding: 0.7em 0;
	text-indent: 15px;
	border-top: 1px solid #efefef;
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	color:#000;
}
.select-options li:hover {
	color: #fff;
	background: var(--light-green);
}
.select-options li[rel=hide] {
	display: none;
}

.city-celect {
	border: 1px solid #FFF;
	color:#fff;
	width:35rem;
}
.city-celect ~ .select-styled::before {
	content:'';
	display:block;
	width:15px;
	height:15px;
	position: absolute;
	top:50%;
	left:15px;
	transform: translateY(-50%);
	background: url(../images/icons/location_white.svg) no-repeat center center / contain;
}
.city-celect ~ .select-styled {
	border:1px solid #fff;
	color:#fff;
	padding: 0.7em 0.7em 0.7em 2.5em;
}
.city-celect ~ .select-styled:after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* Popup start */
.popup-window {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 110;
	transition: all .3s;
	background: #116725 url(@/assets/images/bg/popup.jpg) no-repeat center center / cover;
	height: 100vh;
	overflow-y: auto;
	padding-top:15rem;
}
.popup-window.white-bg {
	background: #fff;
}
.close-popup {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: relative;
}
.close-popup::before, .close-popup::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	display: block;
	width: 20px;
	height: 1px;
	border-bottom: 1px solid #fff;
	transform: rotate(45deg);
}
.close-popup::after {
	left: 0;
	transform: rotate(-45deg);
}
/* Popup end */

/* Popup Content start*/
.popup__content.flex.active {
	display: flex;
}
.popup-header {
	left:0;
	top:0;
}
.popup-header-row {
	padding:2.5rem 0;
	border-bottom:1px solid rgba(255,255,255,0.5);
	width: 100%;
}
.search-input {
	border-radius: 200px;
	background: rgba(255, 255, 255, 0.10);
	width: 100%;
	color:#fff;
	padding:0 50px 0 1.5rem;
	height:4.4rem;
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: 300;
}
.search-input::placeholder {
	color:rgba(255,255,255,0.25);
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: 300;
}
.search-btn {
	display:flex;
	align-items: center;
	justify-content: center;
	top:0;
	right:0;
	height:100%;
	width:45px;
	cursor: pointer;
}
.search-btn:hover .search-icon {
	color:#fff;
	transition: all 0.25s;
}
.menu.hide {
	display:none;
}
.menu {
	margin-top:10rem;
	column-count:3;
	break-inside:avoid;
}
.menu li a {
	font-size: 4.8rem;
	font-weight: bold;
	color:rgba(255, 255, 255, 0.25);
	text-transform: uppercase;
	line-height: 1.3;
}
.menu li {
	margin-bottom:0.5em;
}
.menu li a.current, .menu li a.enter, .menu li a:hover {
	color:#fff;
}
.enter .icon {
	width:3.6rem;
	margin-right:1rem;
}
.enter .icon img {
	width:100%;
}
.mob-item {
	padding:0.4em 0;
	position: relative;
	margin: 0.8em 0;
}
.mob-item::before, .mob-item::after {
	content:'';
	display:block;
	width:4rem;
	height:1px;
	background: rgba(255,255,255,0.25);
	position: absolute;
	left:0;
}
.mob-item::before {
	top:0;
}
.mob-item::after {
	bottom:0;
}
.tab-btn {
	color:#fff;
	padding:0.7em 3em;
	white-space: nowrap;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.10);
	text-align: center;
	margin-left:2.4rem;
	width: 16rem;
	cursor: pointer;
}
.tab-btn.active {
	background: #fff;
	color:var(--main-color);
}
.popup-contact-info {
	margin-top:7rem;
	height:48rem;
	overflow: auto;
}
.popup-contact-info .contact-item {
    color:#fff;
}
.popup-contact-info .contact-info-block:not(:last-child) {
    margin-bottom: 0;
}
.contact-info-block .h2 {
	margin-bottom:0.3em;
}
.popup-contact-info hr {
	display:block;
	width:4rem;
	border:none;
	border-bottom:1px solid rgba(255,255,255,0.3);
	margin:2rem 0;
}
.popup-contact__map {
	margin-top:4rem;
	height:60vh;
	border-radius: 20px;
	overflow: hidden;
}
.popup-contact__map img {
	width:100%;
	height:100%;
	object-fit: cover;
}
.popup-contact__map iframe {
	width:100%;
	height:100%;
}
.popup-form {
	width: 37rem;
}
.popup-form-content {
	display: none;
	transition: all 0.25s;
	margin-top:10rem;
}
.popup-form-reg.show, .popup-form-enter.show {
	display: flex;
	transition: all 0.25s;
}
.popup-form-reg.hide {
	display: none;
}
.input-wrapper {
	margin-bottom:1rem;
	position: relative;
}
.input-wrapper input,
.input-wrapper select{
	background: none;
	border:1px solid #fff;
	height:4.4rem;
	border-radius: 50px;
	color:#fff;
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: 300;
	padding:0 2.5em;
	line-height: 1;
}
.input-wrapper input::placeholder {
	color:#fff;
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: 300;
}
.input-wrapper select {
	background: transparent url('../images/icons/angle_down_white.svg') calc(100% - 20px) center no-repeat;
	width: 100%;
}
.popup-form .btn {
	width:100%;
	margin-top:3rem;
}
.input-icon {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.input-left-icon {
	left:1.5rem;
}
.input-right-icon {
	right:1.5rem;
	cursor: pointer;
}
.form-bottom {
	display: block;
	color:#fff;
	margin-top:1rem;
	text-align: center;
}
.form-bottom a {
	font-weight: normal;
	text-decoration: underline;
}
.form-bottom a:hover, .forgot-pass a:hover {
	text-decoration: none;
}
.forgot-pass {
	display: block;
	color:#fff;
	font-size: 12px;
}
.forgot-pass a {
	font-weight: normal;
	text-decoration: underline;
}
.popup__content .btn.w-100 {
	width:100%;
}
.popup__content p {
	color:#fff;
}
.sale__head__info {
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.10);
	padding:2rem;
}
.goods {
	font-weight: normal;
}
.my-sale__body {
	margin-top:10rem;
}
.my-sale-order {
	margin-bottom:3rem;
}
.goods-row {
	padding:1rem 0;
	border-bottom:1px solid rgba(255, 255, 255, 0.10);
}
.goods-title {
	display: inline-flex;
	align-items: center;
	font-weight: normal;
	color:#fff;
	text-transform: uppercase;
	margin-right:0.5em;
}
.sale-date {
	display: inline-block;
	color:#fff;
	font-weight: 300;
	margin-left:0.5em;
	font-size: 12px;
}
.goods-list-wrapper {
	max-height:30rem;
	overflow: auto;
	padding-right:10px;
}
@media (max-width:1440px) {
	.my-sale__body {
		margin-top: 7rem;
	}
}

@media (max-width:768px) {
	.menu {
		column-count:1;
	}
	.menu li a {
		font-size: 2.4rem;
		line-height: 1.2;
	}
	.enter .icon {
		width: 2.5rem;
	}
	.popup-header-row {
		padding: 2rem 0;
	}
	.popup-window {
		padding-top: 8rem;
	}
	.menu {
		margin-top: 3rem;
	}
	.menu--mobile li{
		margin-bottom: 2rem;
	}
	.menu--mobile li a {
		font-size: 30px;
		color: rgba(255,255,255, .5)
	}
	.white-bg .menu li a.current, .white-bg .menu li a.enter,.white-bg .menu li a:hover,
	.white-bg .menu--mobile li a{
		background-color: var(--main-color);
	}
	.white-bg .menu--mobile li a {
		width: 100%;
		font-family: var(--main-font);
		font-size: 16px;
		line-height: 1;
		font-weight: normal;
		display:inline-flex;
		padding:0.7em 3em .5em;
		background: var(--light-green);
		position:relative;
		text-align:center;
		transition: all 0.25s;
		justify-content: center;
		align-items: center;
		border:1px solid var(--light-green);
		cursor:pointer;
		color:#fff;
		border-radius: 50px;
	}
}

@media (max-width:767px) {
	.select, .city-celect {
		width:100%;
	}
	.select {
		height: 4rem;
	}
	.contact-mode {
		justify-content: space-between;
		margin-top:20px;
		width: 100%;
	}
	.tab-btn {
		width: 48%;
		margin:0;
		padding: 0.5em 1em;
		font-size: 12px;
	}
	.popup-contact-info {
		margin-top: 4rem;
		height: 30rem;
	}
	.popup-form-content {
		margin-top: 4rem;
	}
	.popup-form {
		width: 100%;
		padding: 0 20px;
	}
	.sale__head__info {
		width:100%;
		padding:10px;
		margin-top:20px;
	}
	.my-sale__body {
		margin-top: 4rem;
	}
	.goods-title, .goods-price {
		font-size: 12px;
	}
	.goods-row {
		padding: 0;
    	border: none;
	}
	.goods {
		font-size: 14px;
	}
	.my-sale__body .tab-wrapper {
		margin-top:10px;
	}
	.goods-list-wrapper {
		max-height: 15rem;
	}
	.sale-date {
		display: block;
		margin-left: 0;
	}
	.goods-title{
		display: inline-block;
	}
	.goods-price {
		white-space: nowrap;
		margin-left: 10px;
	}
	.popup__content .container .container {
		padding: 0;
	}
}

/* Popup Content end*/

/* Checkbox */
.checkbox-wrap input {display: none;}
.checkbox-wrap input:checked+label::before {
	background: #95C83F;
	display:block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border:4px solid #fff;
}
.checkbox-wrap label {
	display:flex;
	align-items: center;
	font-size: 12px;
	color:#fff;
	font-family: var(--main-font);
	font-weight: 300;
}
.checkbox-wrap label:hover {cursor: pointer;}
.checkbox-wrap label::before {
	content: '';
	flex: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin-right:1em;
	background: #fff;
	border:4px solid #fff;
}

/* Tabs */
.js--tab {
	cursor: pointer;
}

/* Accordeon */
.acc-item {
	border-bottom: 1px solid rgba(51,51,51,0.15);
}
.acc-item:empty {
	border: none;
}
.acc-item:first-child .acc__head {
	padding:0 0 1.5rem
}
.acc__head {
	padding: 1.5rem 0;
}
.acc__head:hover {cursor: pointer;}
.acc__head__text {
	font-weight: normal;
	font-size: 1.6rem;
	text-transform: uppercase;
	color:var(--main-color);
}
.acc-right-icon {
	min-width:1.7rem;
	height:1.7rem;
	position: relative;
	transition: all 0.25s;
}
.acc__head.active .acc-right-icon {
	transition: all 0.25s;
	transform: rotate(45deg);
}
.acc-right-icon::before, .acc-right-icon::after {
	content:'';
	display:block;
	background: #06681B;
	position: absolute;
}
.acc-right-icon::before {
	width:1px;
	height:100%;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.acc-right-icon::after {
	width:100%;
	height:1px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.acc__body {
	padding:0 0 1.5rem;
}
.acc__body p {
	width: 60%;
}
.acc__body__block p {
	margin-bottom:0;
}
.acc__body__block p span {
	color:var(--main-color);
	font-weight: 400;
}
@media (max-width:767px) {
	.acc__head__text {
		font-size: 14px;
	}
	.acc__body p {
		width: 100%;
		font-size: 14px;
	}
	.acc__head {
		padding: 1rem 0;
	}
}

/* Header start */
.header {
	padding:2.5rem 0;
}
.logo {
	max-width:115px;
	display: block;
}
.logo img {
	width:100%;
}
.menu-burger {
	width:30px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left:2rem;
	cursor: pointer;
}
.menu-burger span {
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--main-color);
}
.menu-burger span:not(:last-child){
	margin-bottom:5px;
}
.menu-burger span:last-child {
	width: 70%;
}
/* Header end */

/* First-screen start */
.fs-top {
	margin-bottom:10rem;
}
.fs-bottom {
	margin-top: 14.5rem;
}
.fs__body {
	padding:4rem;
	border-radius: 30px;
}
.fs-top__title {
	display: block;
	font-size: 14px;
	font-weight: 300;
}
.fs-top__city {
	display: block;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.10);
	font-size: 12px;
	color:#fff;
	padding:1em 2em;
	font-weight: 300;
	cursor: pointer;
}
.fs__subtitle {
	display: block;
	font-weight: 400;
	max-width: 30%;
	margin-bottom:0.7em;
}
.fs__content p {
	color:#fff;
}
.fs__logo {
	margin-bottom:2rem;
}
.fs__link__wrapper {
	border-radius: 50px;
	background: var(--light-green);
	padding:5px;
}
.fs__link {
	font-weight: 400;
	display: block;
	color:#fff;
	padding:0.5em 1.5em;
	border-radius: 50px;
	font-size: 14px;
	cursor: pointer;
}
.fs__link ~ .fs__link {
	margin-left: 10px;
}
.fs__link.active {
	background: #fff;
	color:var(--black);
	font-weight: 300;
	line-height: 2;
}
.first-screen .h1, .first-screen h1 {
	width: 70%;
	margin-bottom:0.3em;
}

@media (max-width:767px) {
	.fs-top {
		margin-bottom:6rem;
	}
	.fs-bottom {
		margin-top: 18rem;
	}
	.fs__body {
		padding: 20px;
		border-radius: 20px;
	}
	.fs-top__title {
		font-size: 12px;
	}
	.fs__subtitle, .fs__content p {
		max-width: 100%;
	}
	.fs__link__wrapper {
		width: 100%;
	}
	.fs__link {
		width: 50%;
		text-align: center;
		font-size: 12px;
	}
	.fs-top__city {
		padding: 0.5em 1em;
	}
	.first-screen .h1, .first-screen h1 {
		width: 100%;
	}
}
/* First-screen end */

/* Common-section start */
.testimonial-slider, .advantages-slider, .sale-slider, .news-slider, .blog-slider {
	overflow: hidden;
}

.common-section .btn-container {
	margin-top:4rem;
}
.price-table tr {
    border: 1px solid var(--border-color);
}
.price-table th, .price-table td {
    border-right: 1px solid var(--border-color);
	vertical-align: middle;
}
.price-table th {
    background: none;
    font-weight: normal;
}
.common-section li,
.common-list li {
	margin-bottom:0.3em;
}
.sale-slider .slick-list {
	margin: 0 -1rem;
}
.sale-slider .slide {
	padding:0 1rem;
}
.sale-slider-arrows .slick-disabled.prev-slide:hover svg, .sale-slider-arrows .slick-disabled.next-slide:hover svg {
	color:var(--main-color);
}
.sale-slider-arrows .slick-disabled.prev-slide svg, .sale-slider-arrows .slick-disabled.next-slide svg {
	opacity: 0.4;
}
.sale-slider-arrows .slick-disabled {
	pointer-events: none;
}
.about-img img {
	width:100%;
	border-radius: 20px;
}

@media (max-width:767px) {
	.common-section .btn-container {
		margin-top: 2rem;
	}
	.price-table th, .price-table td{
		font-size: 12px;
		text-align: center;
	}
	.common-section .w-50 {
		width:100%;
	}
	.sale-slider .slide {
		width:330px;
	}
	.sale-slider {
		margin: 0 -20px;
    	padding: 0 0 0 20px;
	}

}
/* Common-section end */

/* Advantages start */
.advantages-slider .slick-list {
	margin: 0 -1rem;
}
.advantages-slider .slide {
	padding:0 1rem;
}
.advantages__slide {
	background: var(--main-color);
	border-radius:20px;
	padding:2rem;
	position: relative;
}
.advantages__slide .adv__title{
	min-height: unset;
}
.adv__title {
	display: -webkit-box;
	margin-bottom:0.5em;
	font-weight: normal;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	min-height: 3em;
}
.advantages__slide p {
	color:#fff;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
	min-height: 4.5em;
}
.show-full-text .advantages__slide p {
	-webkit-line-clamp: none;
	overflow: auto;
}
.decor-dot {
	width: 2rem;
	height:2rem;
	border-radius: 50%;
	background: var(--light-green);
	margin-bottom:1.5rem;
}
.adv-img {
	top:1rem;
	right:1rem;
	width: 45%;
	z-index: 0;
}
.adv-img img {
	width:100%;
}
.sale-type p {
	display: block;
	min-height: 0;
	margin-bottom:0.5em;
}
.sale-type a {
	display: block;
	color:#fff;
	text-decoration: underline;
}
.sale-type a:hover {
	text-decoration: none;
}
.sale-type {
	height: 50rem;
}

@media (max-width:767px) {
	/*.advantages-slider {*/
	/*	margin:0 -20px;*/
	/*}*/
	/*.advantages-slider .slide {*/
	/*	width:335px;*/
	/*}*/
	.adv__title, .advantages__slide p {
		font-size: 14px;
	}
	.sale-type {
		height: 46rem;
	}
}
/* Advantages end */

/* Testimonial start */
.testimonial-slider .slick-list {
	margin: 0 -1rem;
}
.testimonial-slider .slide {
	padding:0 1rem;
}
.testimonial__slide {
	border-radius: 20px;
	border: 1px solid var(--border-color);
	padding:2rem;
}
.testimonial__head {
	margin-bottom: 2rem;
}
.avatar {
	width: 6rem;
	height: 6rem;
	margin-right:2rem;
}
.avatar img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
}
.testimonial__body p {
	font-size: 14px;
	display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
	min-height: 9em;
}
.user-name {
	font-weight: normal;
}
.raiting {
	margin-bottom: 1rem;
}
.testimonial .btn-container {
	margin-top:4rem;
}

@media (max-width:767px) {
	.testimonial-slider {
		margin:0 -20px;
	}
	.testimonial-slider .slide {
		width: 320px;
	}
	.user-name {
		font-size: 14px;
	}
}
/* Testimonial end */

/* Action start */
.action__body {
	padding:4rem;
	border-radius: 20px;
}
.action__body p {
	color:#fff;
	margin-bottom:2em;
}
.action-column p a {
	color:#fff;
}
.feedback-form .input-wrapper input {
	border:none;
	border-bottom:1px solid rgba(255, 255, 255, 0.25);
	border-radius: 0;
	padding:0;
	font-size: 14px;
}
.feedback-form .input-wrapper input::placeholder, .feedback-form .input-wrapper textarea::placeholder {
	color:rgba(255, 255, 255, 0.50);
	font-size: 14px;
	font-family: var(--main-font);
	font-weight: 300;
}
.feedback-form .input-wrapper textarea {
	border:none;
	background: none;
	height:8rem;
	color:#fff;
	font-weight: 300;
	font-family: var(--main-font);
	border-bottom:1px solid rgba(255, 255, 255, 0.25);
	padding:0.5em 0;
	font-size: 14px;
}
.feedback-form .btn {
	margin-top:2rem;
	width: 100%;
}

@media (max-width:767px) {
	.action__body {
		padding: 20px;
	}
}
/* Action end */

/* Contact start */
.map-wrapper {
	height:41rem;
	border-radius: 20px;
	overflow: hidden;
}
.map-wrapper iframe {
	width:100%;
	height:100%;
}
.map-wrapper img {
	width:100%;
}
.contact-info__subtitle {
	display:block;
	margin-bottom:1em;
	font-weight: normal;
}
.contact-item {
	line-height: 1;
	margin-bottom:0.6em;
}
.social {
	margin-top:2rem;
}
.social li {
	margin-right:1rem;
}
.social li a {
	display: block;
	width:2.5rem;
	transition: all 0.25s;
}
.social li a:hover {
	opacity: 0.5;
	transition: all 0.25s;
}
.social li a img {
	width:100%;
}
.contact-info-block:not(:last-child) {
	margin-bottom:3rem;
}
.contact-info-block a:hover {
	color:var(--light-green);
}
.requisites-item {
	border-bottom:1px solid var(--border-color);
}
.requisites-title {
	display:block;
	padding:0.7em;
	text-transform: uppercase;
	width: 50%;
	font-weight: 400;
}

@media (max-width:768px) {
	.requisites-title {
		width: 40%;
		border-right: 1px solid var(--border-color);
		text-align: center;
		text-transform: none;
		padding:0.7em 0.5em;
	}
	.requisites-info {
		width: 60%;
		padding:0.7em 0.5em;
		text-align: center;
	}
	.action-column {
		width: 47%;
	}
	.contact-info-row {
		overflow-x: scroll;
	}
	.contact-info-mobile {
		min-width: 80%;
    	margin-right: 20px;
	}
	.contact-info-mobile:last-child {
    	margin-right: 0;
	}
}

@media (max-width:767px) {
	.map-wrapper {
		height: 20rem;
	}
	.requisites-title, .requisites-info {
		font-size: 12px;
	}
	.action-column {
		width: 100%;
	}
}
/* Contact end */

/* Catalog start */
.product-location {
	display: block;
	font-size: 12px;
}
.product-name, .product-price {
	font-weight: normal;
	display: block;
}
.product-price {
	color:var(--light-green);
}
.product-img {
	margin-bottom:1rem;
}
.product-img img, .product-img source {
	width:100%;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 20px;
}
.catalog-filter {
	margin-bottom:3rem;
}
.catalog-filter .select {
	margin-right:2rem;
}
.pagination {
	margin-top:5rem;
}
.pagination li {
	margin:0 1rem 1rem 0;
}
.pagination li a {
	display: flex;
	flex:none;
	align-items: center;
	justify-content: center;
	border-radius: 90px;
	width: 30px;
	height: 30px;
	padding:7px;
	font-size: 14px;
	border: 1px solid var(--border-color);
}
.pagination li:last-child a {
	width:auto;
}
.pagination li a.active {
	background: var(--light-green);
	color:#fff;
}
.pagination li a:hover {
	background: var(--border-color);
}

@media (max-width:767px) {
	.product-name, .product-price {
		font-size: 14px;
	}
	.catalog-filter .select {
		margin-right: 0;
		width:100%;
		margin-bottom:10px;
	}
	.catalog-filter .select:last-child {
		margin-bottom:0;
	}
}
/* Catalog END */

/* Blog start */
.news-slider .slick-list, .blog-slider .slick-list {
	margin: 0 -1rem;
}
.news-slider .slide, .blog-slider .slide {
	padding: 0 1rem;
}
.article-title {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-bottom:0.3em;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article-descript {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	min-height: 3em;
}
.article-img {
	margin-bottom:1em;
}
.article-img img, .article-img source {
	width:100%;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 20px;
}
@media (max-width:767px) {
	.blog-slider .slide, .news-slider .slide {
		width:335px;
	}
	.blog-slider, .news-slider {
		margin:0 -20px;
		padding: 0 0 0 20px;
	}
}
/* Blog end */

/* Treaty start */
.treaty-text .h4, .treaty-text h4 {
	margin:0.7em 0;
	display: flex;
	align-items: center;
}
.treaty-text .h4::before {
	content: '';
	display:block;
	width:0.6rem;
	height:0.6rem;
	border-radius: 50%;
	background: #06681B;
	margin-right:1rem;
}

/* Treaty end */

/* Footer */
.footer__body {
	padding: 4rem 4rem 0;
	border-radius: 40px 40px 0 0;
}
.footer-top {
	margin-bottom:2rem;
}
.footer-subtitle {
	display: block;
	margin-top:0.5em;
	font-size: 14px;
}
.on-top__wrapper {
	color:#fff;
	text-align: right;
	line-height: 1.3;
}
.on-top-icon {
	margin-left:1.5rem;
	cursor: pointer;
	transition: all 0.25s;
}
.on-top-icon:hover {
	opacity: 0.5;
	transition: all 0.25s;
}
.footer-nav li {
	margin-right:1.2em;
	cursor: pointer;
	transition: all .3s;
}
.footer-nav li {
	color:#fff;
	font-weight: normal;
	text-transform: uppercase;
}
.footer-sub-nav li {
	margin-right:1em;
}
.footer-sub-nav li {
	color:#fff;
}
.footer-nav li:hover, .footer-sub-nav li:hover {
	color:var(--light-green);
}
.footer-bottom {
	margin-top:4rem;
	padding:2rem 0;
	border-top:1px solid rgba(255, 255, 255, 0.15);
}
.footer-bottom span {
	display:block;
	color:#fff;
	font-size: 12px;
}
.dropdown-menu {
	background: #fff;
	font-size: 14px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 20px;
	margin-top: 5px;
	padding: 2rem;
	z-index: 10;
}
.dropdown-menu li {
	list-style: none;
}
.dropdown-menu li:not(:last-child) {
	margin-bottom: .75em;
}
#app {
	height: 100%;
}

@media (max-width:767px) {
	.footer__body {
		padding: 20px 20px 0;
		border-radius: 0;
		margin: 0 -20px;
	}
	.footer-subtitle {
		font-size: 12px;
	}
	.on-top__wrapper span {
		display: none;
	}
	.footer-nav-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.footer-nav, .footer-sub-nav {
		flex-direction: column;
	}
}

/* Footer */

/* ===== RESPONSIVE STYLE ===== */

@media (max-width:1440px) {
	html {font-size: 0.6vw}
	.container {max-width: 1240px;}
}

@media (max-width:1024px) {
	html {font-size: 0.85vw;}
	.tablet-col-2 {grid-template-columns: repeat(2, 1fr);}
	.tablet-col-3 {grid-template-columns: repeat(3, 1fr);}
}

@media (max-width:768px) {
	html {font-size: 10px;}
	p, ul li, ol li, a, .text {font-size: 15px;}

	.sm-hide {display:none;}
	.sm-show {display:block;}
	.sm-show.flex {display:flex;}

	.sm-col-1 {grid-template-columns: repeat(1, 1fr);}
	.sm-col-2 {grid-template-columns: repeat(2, 1fr);}
	.sm-col-3 {grid-template-columns: repeat(3, 1fr);}
	.sm-col-1 .item {grid-column: auto; grid-row: auto;}
}

@media (max-width:767px) {
	.mobile-col-1 {grid-template-columns: repeat(1, 1fr);}
	.mobile-col-2 {grid-template-columns: repeat(2, 1fr);}
	.mobile-col-1 .item {grid-column: auto; grid-row: auto;}

	p, ul li, ol li, a, .text {font-size: 14px;}
}

@media (max-width:480px) {
	.btn {width:100%;}
}
.cursor-pointer {
	cursor: pointer;
}

.swiper {
	width: 100%;
}
.back-btn {
	font-size: max(16px, 2rem);
	margin-bottom: 1em;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s;
}
.back-btn:hover {
	color: var(--main-color)
}
.loader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	font-weight: 700;
	gap: 3rem;
}
