<template>
  <div class="inner-Page">
    <usePageData slug="about" :first-screen-simple="true"/>
  </div>
</template>

<script setup>
import usePageData from '@/widgets/usePageData.vue'

</script>

<style scoped>
/* Стили вашего компонента */
</style>

