<script setup>
import gql from "graphql-tag";
import { useQuery } from "@vue/apollo-composable";
import { useRoute } from "vue-router";
import {ref, onMounted, computed, watch} from "vue";
import BackBtn from "@/components/BackBtn.vue";

const NEWS_QUERY = gql `
    query articleItem($slug: String!) {
        articleItem(slug: $slug) {
            title
            description
            created_at
            medias {
              image {
                medium
              }
            }
        }
    }
`

const route = useRoute()

const newsId = ref(route.params.id)
const { result, loading } = useQuery(NEWS_QUERY, {
  slug: newsId
})

const newsResult = computed(() => {
  return result.value?.articleItem
})

onMounted(() => {
  newsId.value = route.params.id
})

watch(() => route.params.id, (newId) => {
  newsId.value = newId;
});

</script>

<template>
  <section class="section common-section">
    <div v-if="loading" class="container">
      <h2>Загружаем...</h2>
    </div>
    <div v-if="newsResult" class="container">
      <BackBtn />
      <div class="section-head">
        <span class="h2 text--uppercase text--colored">{{ newsResult.title }}</span>
      </div>
      <div class="article-img" v-if="newsResult.medias && newsResult.medias.length > 0">
        <img decoding="async" loading="lazy" style="max-width: 100%; aspect-ratio: unset;" :src="newsResult.medias[0].image.medium" alt="">
      </div>
      <p class="text--colored">
        {{ newsResult.created_at }}
      </p>
      <div v-html="newsResult.description"></div>
    </div>
  </section>
</template>

<style scoped>

</style>
