<template>
  <div class="inner-Page">
    <usePageData slug="contacts" :first-screen-simple="true" cta-btn-title="Отравить сообщение"/>

    <section class="section"></section>
  </div>
</template>

<script setup>
import usePageData from '@/widgets/usePageData.vue'

// import gql from 'graphql-tag'
// import { useQuery } from '@vue/apollo-composable'
// import {computed} from "vue";


</script>

<style scoped>
/* Стили вашего компонента */
</style>

