<template>
  <div class="home-Page">
    <mainPageOnMobile v-if="mobileView" />
    <usePageData v-else slug="main" :first-screen-simple="false" />
  </div>
</template>

<script setup>
import usePageData from '@/widgets/usePageData.vue'
import mainPageOnMobile from '@/components/MainPageOnMobile.vue'
import {onBeforeUnmount, onMounted, ref} from 'vue'

const mobileView = ref(window.innerWidth < 440)

const updateMobileView = () => {
  mobileView.value = window.innerWidth < 440
}

onMounted(() => {
  window.addEventListener('resize', updateMobileView)
})
onBeforeUnmount(() => {
  window.removeEventListener('resize', updateMobileView)
})


</script>

<style scoped>
/* Стили вашего компонента */
</style>

