<template>
  <div class="inner-Page">
    <usePageData :slug="`${slug}`" :first-screen-simple="true"  />
  </div>
</template>

<script setup>
import usePageData from '@/widgets/usePageData.vue'
import { computed } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const slug = computed(() => {
  return `${route.params.name}`
});

</script>

<style scoped>
/* Стили вашего компонента */
</style>

